<!doctype html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <title>Genesis Hack</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!--  <link rel="manifest" href="site.webmanifest">-->
<!--  <link rel="apple-touch-icon" href="icon.png">-->
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link href="//db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=Suisse+Intl" rel="stylesheet" type="text/css"/>

  <script src="https://kit.fontawesome.com/771831ed14.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/main.css">

<!--  <meta name="theme-color" content="#fafafa">-->
</head>

<body>
  <script src="js/main.js"></script>
  <div class="banner-box">
    <div class="banner">
      <div class="slogan">Kотивационная фраза.<br>
        Наверное длинная,<br>
        но это не точно.
      </div>

      <div class="invest-button">
        Начать инвестировать
      </div>
    </div>
  </div>

  <div class="main">

    <div class="sol-for-you">Решения, подобранные специально для вас:</div>

    <div class="cards-container">
      <div class="card">
        <div class="additional">
          <div class="user-card">
            <div class="level center"></div>
            <div class="center percent">
              <p class="percent-num">+20%</p>
              <p class="percent-text">Акция</p>
            </div>
            <div class="points center">
              Инвестировать
            </div>
          </div>
          <div class="more-info">
            <h1>Coca-Cola</h1>
            <div class="stats">
              <div class="stats-icons">
                <i class="stats-icon fas fa-history"></i>
                <i class="stats-icon far fa-money-bill-alt"></i>
              </div>
              <div class="stats-block">
                <div class="stats-text">
                  <div class="title">Срок</div>
                  <div class="value">2 месяца</div>
                </div>
                <div class="stats-text">
                  <div class="title">Сумма</div>
                  <div class="value">270000 р</div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="general">
          <h1 class="company-name">Coca-Cola</h1>
          <div class="graphic"></div>
        </div>
      </div>

      <div class="card green">
        <div class="additional">
          <div class="user-card">
            <div class="level center"></div>
            <div class="center percent">
              <p class="percent-num">+20%</p>
              <p class="percent-text">Облигация</p>
            </div>
            <div class="points center">
              Инвестировать
            </div>
          </div>
          <div class="more-info">
            <h1>Coca-Cola</h1>
            <div class="stats">
              <div class="stats-icons">
                <i class="stats-icon fas fa-history"></i>
                <i class="stats-icon far fa-money-bill-alt"></i>
              </div>
              <div class="stats-block">
                <div class="stats-text">
                  <div class="title">Срок</div>
                  <div class="value">2 месяца</div>
                </div>
                <div class="stats-text">
                  <div class="title">Сумма</div>
                  <div class="value">270000 р</div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="general">
          <h1 class="company-name">Coca-Cola</h1>
          <div class="graphic"></div>
        </div>
      </div>

      <div class="card blue">
        <div class="additional">
          <div class="user-card">
            <div class="level center"></div>
            <div class="center percent">
              <p class="percent-num">+20%</p>
              <p class="percent-text">Структурный продукт</p>
            </div>
            <div class="points center">
              Инвестировать
            </div>
          </div>
          <div class="more-info">
            <h1>Coca-Cola</h1>
            <div class="stats">
              <div class="stats-icons">
                <i class="stats-icon fas fa-history"></i>
                <i class="stats-icon far fa-money-bill-alt"></i>
              </div>
              <div class="stats-block">
                <div class="stats-text">
                  <div class="title">Срок</div>
                  <div class="value">2 месяца</div>
                </div>
                <div class="stats-text">
                  <div class="title">Сумма</div>
                  <div class="value">270000 р</div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="general">
          <h1 class="company-name">Coca-Cola</h1>
          <div class="graphic"></div>
        </div>
      </div>
    </div>

    <div class="text-about">
      <div class="about-block">
        <h1>Что такое множество?</h1>
        <p>
          Облигация - долговое обязательство некой компании или государства.
          Обладатель облигации может получить прибыль за счет изменения ее реальной
          стоимости или в результате выплат эмитента
        </p>
      </div>
      <div class="about-block">
        <h1>Что такое числа?</h1>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>

    <div class="infographic-motivation">
      <div class="infographic-text">
        <h1>Почему вы должны начать инвестировать:</h1>
        <p>
          Своевременные инвестиции помогут вам создать фундамент
          для будущего карьерного роста, начать увеличивать свой
          пассивный доход, чтобы проводить больше времени, занимаясь
          тем, что вам нравится
        </p>
      </div>
      <div class="infographic"></div>
    </div>

    <div class="account">
      <div class="account-left">
        <div class="slogan">
          Индивидуальный<br>
          ивестиционный<br>
          счет
        </div>
        <p>
          Чтобы начать инвестировать, вам необходимо открыть
          брокерский счет, так как именно он будет использоваться
          для выплат вашей прибыли. Мы считаем, что Индивидуальный
          Инвестиционный Счет (ИИС) - лучшее решение для вас. Он позволяет
          вернуть подоходный налог за инвестиционную прибыль, если вы не выводили
          средства с него в течение трех лета. Эта особенность делает ИИС самым
          привлекательным инструментом для долгосрочных инвестиций
        </p>
      </div>
      <div class="account-form">
        <form class="material-form">
          <div class="material-form__container">
            <input class="material-form__input" type="text" placeholder=" " id="input-name" maxlength="40" />
            <label class="material-form__label" form="input-name">Фамилия</label>
            <div class="material-form__focus-animation"></div>
            <p class="material-form__error">Фамилия не введено</p>
          </div>
          <div class="material-form__container">
            <input class="material-form__input" type="text" placeholder=" " id="input-email" maxlength="50" />
            <label class="material-form__label" form="input-email">Имя</label>
            <div class="material-form__focus-animation"></div>
            <p class="material-form__error">Имя не введено</p>
          </div>
          <div class="material-form__container">
            <input class="material-form__input" type="tel" placeholder=" " id="input-password" maxlength="18" />
            <label class="material-form__label" form="input-password">Телефон</label>
            <div class="material-form__focus-animation"></div>
            <p class="material-form__error">Телефон не введен</p>
          </div><button class="material-form__button">Открыть счет</button>
        </form>
      </div>
    </div>

  </div>

  <footer>
    <div class="footer-elem phone">+7 (999) 999-99-99</div>
    <div class="footer-elem email">example@example.com</div>
  </footer>
</body>

</html>
